<!DOCTYPE html>
<html>
  <head>
    <title>EJS Template</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="cardContainer">
      <% userData.forEach((user)=>{ %>
      <div class="card">
        <h2><%= user.name %></h2>
        <h4><%= user.email %></h4>
        <h4><%= user.company.name %></h4>
        <h5><%= user.company.address %>, <%= user.company.city %></h5>

        <h4 class="skillsContainer"><%= user.skills %></h4>
        <div class="projectContainer">
          <% user.projects.forEach((projects)=>{ %>
          <h4><%= projects.name %>:</h4>
          <h4><%= projects.description %></h4>
          <% }) %>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
